@Scripts.Render("~/bundles/jquery")
@{
    ViewBag.Title = "Изменение Password";
}

<h2 class="centre roman">@ViewBag.Title.</h2>
<hr />
<div class="form-horizontal">
    <div class="form-group">
        <label class="col-md-4 control-label">Введите старый пароль</label>
        <div class="col-md-5">
            <input type="password" id="oldpassword" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Введите новый пароль</label>
        <div class="col-md-5">
            <input type="password" id="newpassword" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Подтвердите новый пароль</label>
        <div class="col-md-5">
            <input type="password" id="confirmpassword" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-4 col-md-5">
            <input type="submit" id="submit" class="btn btn-primary" value="Изменить пароль" />
        </div>
    </div>
</div>
<label class="control-label text-danger" id="error"></label>
<div class="modal fade " id="windowsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title text-success">Ваш пароль был успешно изменён!</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" data-dismiss="modal">Ок</button>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    var permit = true;
    $(function () {
        $('#submit').click(function (e) {
            if (permit) {
                permit = false;
                $('#error').text("");
                e.preventDefault();
                var data = {
                    OldPassword: $('#oldpassword').val(),
                    NewPassword: $('#newpassword').val(),
                    ConfirmPassword: $('#confirmpassword').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/ChangePassword',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).success(function () {
                    $('#windowsModal').modal(options);
                    permit = true;
                }).fail(function () {
                    $('#error').text("• Неверный старый пароль или Ваши пароли не содержат нужные символы, или не совпадают.");
                    permit = true;
                });
            }
        });
    });
    var options = {
        "backdrop": "static"
    }
</script>