@{
    ViewBag.Title = "Изменение Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@ViewBag.Title</h3>

<p>На новый указанный электронный адрес отправлены дальнейшие инструкции по завершению изменения Login.</p>

