@model Domain.Entities.Breeding.BreedingCharges

@{
    ViewBag.Title = "Собаководство - Удаление затрат";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="georgia-handler">Сервис Животноводство.Собаководство.</h4>
<h3 class="academy-bee">Таксы-Шпицы-Примитивные-Гончие-Родственные. Затраты.</h3>
<h3>Вы уверены, что хотите это удалить  &nbsp; @Model.Name  &nbsp; @Model.TotalCost ?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <input type="submit" value="Удалить" class="btn btn-primary" />
        </div>
        <br />
        @Html.ActionLink("Назад в Таксы-Шпицы-Примитивные. Затраты", "HoundsdogCharges")
    }

</div>


