@model Domain.Entities.Breeding.BreedingReminder

@{
    ViewBag.Title = "Собаководство - Удаление напоминаний";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="georgia-handler">Сервис Животноводство.Собаководство.</h4>
<h3 class="academy-bee">Таксы-Шпицы-Примитивные-Гончие-Родственные. Напоминания.</h3>
<h3>Вы уверены, что хотите это удалить &nbsp; @Model.AnimalName ?</h3>
<h4>Удаление напоминания :</h4>
<h6>@Model.Text</h6>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <input type="submit" value="Удалить" class="btn btn-primary" />
        </div>
        <br />
        @Html.ActionLink("Назад в Таксы-Шпицы-Примитивные. Напоминания.", "HoundsdogRemindings")
    }

</div>


