@model Domain.Entities.Breeding.BreedingComings

@{
    ViewBag.Title = "Коневодство(Пони) - Удаление животных.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="georgia-handler">Сервис Животноводство.</h4>
<h3 class="academy-camel">Коневодство(Пони). Приход.</h3>
<h3>Вы уверены, что хотите это удалить  &nbsp; @Model.Name , @Model.Amount голов ?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <input type="submit" value="Удалить" class="btn btn-primary" />
        </div>
        <br />
        @Html.ActionLink("Назад в Коневодство(Пони). Приход", "PonyComing")
    }

</div>
