@model Domain.Entities.Breeding.BreedingComings

@{
    ViewBag.Title = "Кролиководство (Шкурковые и Мясо-шкурковые породы) - Удаление животных.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="georgia-handler">Сервис Животноводство.</h4>
<h3 class="academy-camel">Кролиководство (Шкурковые и Мясо-шкурковые породы). Приход.</h3>
<h3>Вы уверены, что хотите это удалить  &nbsp; @Model.Name , @Model.Amount голов ?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <input type="submit" value="Удалить" class="btn btn-primary" />
        </div>
        <br />
        @Html.ActionLink("Назад в Кролиководство (Шкурковые и Мясо-шкурковые породы). Приход", "RabbitSkinComing")
    }

</div>
