@model Domain.Entities.Growing.GrowingCharges

@{
    ViewBag.Title = "Плодовые кустарники (Л-Ш) - Удаление затрат";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="georgia-handler">Сервис Растениеводство.</h4>
<h3 class="academy-fruit">Плодовые кустарники (Л-Ш). Затраты.</h3>
<h3>Вы уверены, что хотите это удалить  &nbsp; @Model.Name  &nbsp; @Model.TotalCost ?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div>
            <input type="submit" value="Удалить" class="btn btn-primary" />
        </div>
        <br />
        @Html.ActionLink("Назад в Плодовые кустарники (Л-Ш). Затраты", "TernCharges")
    }

</div>


