
@{
    ViewBag.Title = "Активация аккаунта.";
}

<h2>Спасибо. Ваш аккаунт активирован.</h2>
<h5>Для продолжения пользования всеми услугами сервиса @Html.ActionLink("войдите в свой аккаунт.", "Login", "AccountSimple")</h5>
