@{
    ViewBag.Title = "Главная";
}

<div class="carousel slide" id="Carusel">
    <ol class="carousel-indicators">
        <li class="active" data-target="#Carusel" data-slide-to="0"></li>
        <li data-target="#Carusel" data-slide-to="1"></li>
        <li data-target="#Carusel" data-slide-to="2"></li>
        <li data-target="#Carusel" data-slide-to="3"></li>
        <li data-target="#Carusel" data-slide-to="4"></li>
        <li data-target="#Carusel" data-slide-to="5"></li>
        <li data-target="#Carusel" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Images/Fist.jpg" alt="Идет загрузка фото" />
        </div>
        <div class="item">
            <img src="~/Images/Second.jpg" alt="Идет загрузка фото" />
        </div>
        <div class="item">
            <img src="~/Images/Third.JPG" alt="Идет загрузка фото" />
        </div>
        <div class="item">
            <img src="~/Images/Fourth.JPG" alt="Идет загрузка фото" />
        </div>
        <div class="item">
            <img src="~/Images/Fifth.JPG" alt="Идет загрузка фото" />
        </div>
        <div class="item">
            <img src="~/Images/Sixth.JPG" alt="Идет загрузка фото" />
        </div>
        <div class="item">
            <img src="~/Images/Seventh.JPG" alt="Идет загрузка фото" />
        </div>
    </div>
    <a class="carousel-control left" data-slide="prev" href="#Carusel">&lsaquo;</a>
    <a class="carousel-control right" data-slide="next" href="#Carusel">&rsaquo;</a>
</div>

<div class="row">
    <div class="col-md-3">
        <h3>Курс топлива</h3>
        <img src="~/Images/Fuel.jpg" alt="Идет загрузка фото" />
        <p>Предоставление курсов топлива во всех заправках нашей страны.</p>
        <p>
            <a class="btn btn-xs btn-primary" href="http://finance.i.ua/fuel/">Воспользуйтесь сервисом &raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h3>Погода</h3>
        <img src="~/Images/Weather.jpg" alt="Идет загрузка фото" />
        <p>Данные о погоде в нашей стране и в мире. Смотрите также погоду в вашем регионе.</p>
        <p>
            <a class="btn btn-xs btn-primary" href="https://pogoda.yandex.ua/">Воспользуйтесь сервисом &raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h3>Курс валют</h3>
        <img src="~/Images/Currency.jpg" alt="Идет загрузка фото" />
        <p>Предоставление курсов валют во всех банках нашей страны.</p>
        <p>
            <a class="btn btn-xs btn-primary" href="http://kurs.com.ua/usd?gclid=CMeh0vv3u74CFfQQtAodNVIAPQ">Воспользуйтесь сервисом &raquo;</a>
        </p>
    </div>
    <div class="col-md-3">
        <h3>Торговая площадка</h3>
        <img src="~/Images/FloorSpace.jpg" alt="Идет загрузка фото" />
        <p>Посмотрите и воспользуйтесь сервисом совершенно бесплатно.</p>
        <p>
            <a class="btn  btn-xs btn-primary" href="~/Home/Index">Воспользуйтесь сервисом &raquo;</a>
        </p>
    </div>
</div>
